In [1]:
a = set()
type(a)

set

In [2]:
a = set([1,2,3,1])
a

{1, 2, 3}

In [3]:
a = {1,2,3,1}
a

{1, 2, 3}

In [4]:
s = {}
type(s)

dict

In [5]:
a = {1,2,3,4}
b = {3,4,5,6}

In [6]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [7]:
b.union(a)

{1, 2, 3, 4, 5, 6}

In [8]:
a | b

{1, 2, 3, 4, 5, 6}

In [9]:
a.intersection(b)

{3, 4}

In [10]:
b.intersection(a)

{3, 4}

In [11]:
a & b

{3, 4}

In [12]:
print(a&b)

set([3, 4])

In [13]:
a.difference(b)

{1, 2}

In [14]:
a-b

{1, 2}

In [15]:
a = {1,2,3}
b = {1,2}

In [16]:
b.issubset(a)

True

In [17]:
b <= a

True

In [18]:
a <= a

True

In [19]:
a < a

False

In [20]:
t = {1,2,3}
t.add(5)
t

{1, 2, 3, 5}

In [21]:
t.add(3)
t

{1, 2, 3, 5}

In [22]:
t.update([5,6,7])
t

{1, 2, 3, 5, 6, 7}

In [23]:
t.remove(1)
t

{2, 3, 5, 6, 7}

In [24]:
t.remove(10)

KeyError: 10

In [25]:
t.pop()

2

In [26]:
print t

set([3, 5, 6, 7])

In [27]:
t.discard(3)

In [28]:
t

{5, 6, 7}

In [30]:
t.discard(20)

In [31]:
t

{5, 6, 7}

In [32]:
a.difference_update(b)

In [33]:
s = frozenset([1,2,3,'a',1])
s

frozenset({1, 2, 3, 'a'})

In [34]:
flight_distance = {}
city_pair = frozenset(['los angeles','new york'])
flight_distance[city_pair] = 2498
flight_distance[frozenset(['Austin','los angeles'])]= 1515
flight_distance

{frozenset({'Austin', 'los angeles'}): 1515,
 frozenset({'los angeles', 'new york'}): 2498}

In [37]:
flight_distance[frozenset(['los angeles','Austin'])]

1515

In [38]:
x = [1,2,3]
y = x
x[1] = 100
print y

[1, 100, 3]

In [40]:
x = 500
id(x)

140675295445272

In [41]:
y = x
id(y)

140675295445272

In [42]:
x is y

True

In [43]:
y = 'foo'
id(y)

4456945904

In [44]:
x is y

False

In [49]:
x = 500
id(x)

140675295445752

In [50]:
y = 500
id(y)

140675295445392

In [51]:
x is y

False

In [52]:
x = 2
id(x)

140675259565984

In [53]:
y = 2
id(y)

140675259565984

In [54]:
x is y

True

In [55]:
x = [500,501,502]
print id(x[0])
print id(x[1])
print id(x[2])
print id(x)

140675295445392
140675295446016
140675295445560
4481168808

In [56]:
y = x
print id(y)

4481168808

In [57]:
x is y

True

In [58]:
y[1] = 600
print id(y)

4481168808

In [59]:
print id(x[1])
print id(y[1])

140675295445344
140675295445344

In [60]:
y = [700,800]
print id(y)
print id(x)

4481246488
4481168808